
  .login {
    
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('/src/assets/background.jpg');
    background-size:260vh ;
  }